<!DOCTYPE html>
<html>
	<head>
		<title>Game, Set, Match</title>
		
		<link rel="stylesheet" type="text/css" href="style.css">

		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/firebase.js"></script>
		<script type="text/javascript" src="js/angularfire.js"></script>
		<script src="js/app.js"></script>
		<script src="js/tttControler.js"></script>
	</head>
	
	<body ng-app="tttApp" ng-controller="tttController as tttCtrl" ng-click="tttCtrl.serve">
	{{2+2}}
		<h1>GAME, SET, MATCH !!!</h1>
		<div class="container">  
			
			<div class="box" 
			ng-repeat="t in tttCtrl.ttt.boxes track by $index" 
			ng-click="tttCtrl.gamePlay($index)"
			ng-class= "{xplays: t.status == 'x', oplays: t.status == 'o'}">
			</div>
		</div>	
			<div id = "Player1">
				<h1>Player 1</h1>
				<input type="text" name="Player 1" placeholder="SCORE">
			</div>		
			<div id = "Player2">
				<h1>Player 2</h1>
				<input type="text" name="Player 2" placeholder="SCORE">
		</div>	
	</body>
</html>